<div>
    <a style="margin: 16px 0 ;" class="btn btn-secondary btn-lg" href="/?q={{linkParent}}{{linkChilrent}}">Quay lại</a>

    <h3>{{newsTitle}}</h3>

    <img src="{{avartar}}">
    {{#each newsDetails}}
    <p>{{this}}</p>
    {{/each}}
    <a class="btn btn-secondary btn-lg" href="/?q={{linkParent}}{{linkChilrent}}">Quay lại</a>
</div>